

.footer-adress {
    font-style: normal;
    margin-top: 20px;
}

.footer-list__location {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    text-decoration: none;
}

.footer-list__contacts {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition: color var(--o-transition-dur-and-funk);

 &:hover,
 &:focus {
    color: var(--accent-color);
        }
}

.footer-list__item {
    margin-bottom: 9px;
}

.footer-list__item {
    margin-bottom: 9px;
}
