
.hero__bth {
  position: relative;
  color: var(--primary-text-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  letter-spacing: 0.06em;
  padding: 10px 24px;
  min-width: 200px;
  align-items: center;
  padding: 10px 32px;
  border: none;
  height: 50px;
  border-radius: 4px;
  transition: background-color var(--o-transition-dur-and-funk);

  &:hover,
  &:focus {
    background-color: var(--button-color);
  }
}
.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  background-size: cover;
  background-position: center;
  text-align: center;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image:linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../images/hero-mobile.jpg);
  max-width: 480px;


  
  
  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
    background-image:linear-gradient(to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
      url(../images/hero-mobile@2x.jpg);
  }

  @media screen and (min-width:768px) {
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
     url(../images/hero-tablet.jpg);
  max-width: 768px;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url(../images/hero-tablet@2x.jpg);
    max-width: 768px;
  }

  @media screen and (min-width:1200px) {
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
    url(../images/hero-desktop.jpg);
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url(../images/hero-desktop@2x.jpg);

  margin: 0 auto;
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
  color:  #c4c4c4;
  text-align: center;
}
}
.hero__title {
  max-width: 360px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
      text-transform: uppercase;
      color: var(--primary-text-color);
      margin-bottom: 30px;
      margin-right: auto;
      margin-left: auto;
    
    @media screen and (min-width: 1200px) {
 
      max-width: 696px;
      font-size: 44px;
      line-height: 1.36;
    
  }
}







// .hero__title {
//   font-weight: 900;
//   font-size: 26px;
//   line-height: 1.62;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;
//   color: var(--primary-text-color);
//   margin-bottom: 30px;
//   width: 360px;
//   margin-right: auto;
//   margin-left: auto;
// }

// .hero__bth {
//   position: relative;
//   color: var(--primary-text-color);
//   background-color: var(--accent-color);
//   font-family: inherit;
//   font-size: 16px;
//   cursor: pointer;
//   letter-spacing: 0.06em;
//   padding: 10px 24px;
//   min-width: 200px;
//   align-items: center;
//   padding: 10px 32px;
//   border: none;
//   height: 50px;
//   border-radius: 4px;
//   transition: background-color var(--o-transition-dur-and-funk);

//   &:hover,
//   &:focus {
//     background-color: var(--button-color);
//   }
// }

// то что било
// .hero {
//   max-width: 1600px;
//   height: 600px;
//   margin-left: auto;
//   margin-right: auto;
//   background-color: #c4c4c4;
//   background-image: linear-gradient(
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url("../images/backhero1.jpg");
//   background-size: cover;
//   background-position: center;
//   text-align: center;
//   padding-bottom: 200px;
//   padding-top: 200px;
// }

// .hero__title {
//   font-weight: 900;
//   font-size: 44px;
//   line-height: 1.36;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;
//   color: var(--primary-text-color);
//   margin-bottom: 30px;
//   width: 696px;
//   margin-right: auto;
//   margin-left: auto;
// }

// .hero__bth {
//   position: relative;
//   color: var(--primary-text-color);
//   background-color: var(--accent-color);
//   font-family: inherit;
//   font-size: 16px;
//   cursor: pointer;
//   letter-spacing: 0.06em;
//   padding: 10px 32px;
//   min-width: 216px;
//   align-items: center;
//   padding: 10px 32px;
//   border: none;
//   height: 50px;
//   border-radius: 4px;
//   transition: background-color var(--o-transition-dur-and-funk);

//   &:hover,
//   &:focus {
//     background-color: var(--button-color);
//   }
// }