.logo-container {
    margin-right: 93px;
}

.logo {
    font-family: "Raleway";
    justify-content: center;
    display: flex;
    color: var(--accent-color);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: none;
    transition: color var(--o-transition-dur-and-funk);

    @media screen and (min-width:1200px) {
    justify-content: flex-start;
    }
}
.main-header .logo {
    padding: 16px 0;
}
.accent {
    color: #212121;
}


.footer-accent {
    color: var(--secondary-color);
}